body {
    font-family: 'Rubik', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1e1e1e;
}

.search-form {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-input {
    width: 60%;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 6px;
    border: 1px solid #333;
    background-color: #1e1e1e;
    color: #fff;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

#signupBtn {
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 6px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #1e1e1e;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 6px;
    width: 80%;
    max-width: 500px;
    color: #ffffff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}



.manga-list {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 70%;
}

.manga-item {
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    margin-bottom: 10px; /* Adjust margin for smaller items */
    padding: 5px; /* Reduce padding */
    border-radius: 6px;
    cursor: pointer;
    justify-content: space-between; /* Align items and push delete button to the right */
}

.manga-image {
    width: 3.7%; /* 25% divided by 3 */
    border-radius: 6px;
}

.manga-title {
    font-size: 1em; /* Increase font size for the title */
    margin-left: 10px; /* Adjust margin to fit new size */
    flex-grow: 1;
}

.deleteBtn {
    background-color: #e74c3c; /* Red background for the delete button */
    color: #fff; /* White text */
    border: none; /* Remove border */
    border-radius: 6px; /* Rounded corners */
    padding: 5px 10px; /* Padding for button size */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 0.9em; /* Adjust font size */
    margin-left: 8px;
    margin-right: 4px/* Space between title and button */
}

.deleteBtn:hover {
    background-color: #c0392b; /* Darker red on hover */
}

#logoutBtn {
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 6px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#loginUsername{
    margin-bottom: 0.5rem;
}
#loginPassword{
    margin-bottom: 1.5rem;
}
#loggoff{
    margin-bottom: 0.5rem;
    border-radius: 6px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

#showLoginForm,#showSignupForm,#zbzob{
    border-radius: 6px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
